<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <title>Cat Trapping Simulator</title>
</head>
<body>
    <main>
        <h1>Cat Trapping Simulator Lobby</h1>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lobby.js"></script>
</body>
</html>